<section class="">
  <h1>Author Dashboard</h1>
  <p>Welcome, Author!</p>
  <ul>
    <li><%= link_to 'Upload Book', '#' %></li>
    <li><%= link_to 'View Analytics', '#' %></li>
    <li><%= link_to 'Manage Books', '#' %></li>
  </ul>
  <p><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
</section>